python/node-red/flows_final.json
[{"id":"7687d45a.038f1c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"b0cb96ca.4f2b38","type":"ui_group","name":"Sensor","tab":"d9908171.4012b","order":1,"disp":true,"width":"6","collapse":false},{"id":"d9908171.4012b","type":"ui_tab","name":"IoT Lab","icon":"dashboard","disabled":false,"hidden":false},{"id":"6a91eace.c9b544","type":"blynk-websockets-client","name":"Blynk API Lab 2","path":"ws://cloud.blynk.cc:8080/websocket","key":"DTbSfaIxevTeVXJzhoCdz2Fbw3dTwyJA"},{"id":"adf3be3b.0ccd","type":"blynk-websockets-client","name":"Blynk API","path":"ws://cloud.blynk.cc:8080/websocket","key":"9Hdw3pCr_pwZQBdh2nw0X5PyzkjjAK9R"},{"id":"6168b103.78792","type":"mqtt-broker","name":"mqtt.eclipse","broker":"mqtt://mqtt.eclipse.org/","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a9b999e7.2a3078","type":"mqtt-broker","name":"MQTT Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4659457b.ef08cc","type":"inject","z":"7687d45a.038f1c","name":"Virtual Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"sensor_id_001","payload":"1","payloadType":"str","x":340,"y":320,"wires":[["946ff936.56dc98"]]},{"id":"6007cca2.528424","type":"aedes broker","z":"7687d45a.038f1c","name":"","mqtt_port":1883,"mqtt_ws_port":"1833","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":330,"y":240,"wires":[["231d46a7.5d4a4a"]]},{"id":"59266cff.98c5b4","type":"debug","z":"7687d45a.038f1c","name":"Published msgs","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":400,"wires":[]},{"id":"946ff936.56dc98","type":"function-npm","z":"7687d45a.038f1c","name":"Normal Values","func":"/* --- Resting Heart Rate = RHR --- */\nvar rounded_RHR = Math.round(Math.random() * 30 + 60);\n\n/* --- Cholestrol = C --- */\nvar rounded_C = Math.round(Math.random() * 90 + 20);\n\n/* --- Fasting Blood Sugar = FBS --- */\nvar rounded_FBS = Math.round(Math.random() * 40 + 80);\n\n/* --- Maximum Heart Rate = MHR --- */\nvar rounded_MHR = Math.round(Math.random() * 40 + 90);\n\n/* --- Body Temperature = BT --- */\nvar rand_BT = Math.random() * 2 + 35.5;\nvar rounded_BT = rand_BT.toFixed(2);\n\n/* --- Blood Pressure = BP --- */\nvar rand_BP = Math.random() * 31 + 90;\nvar rounded_BP = Math.round(rand_BP);\n\n/* Create String with values */\nvar data = \"resting heart rate, \" + rounded_RHR + \n\"; cholestrol, \" + rounded_C + \n\"; fasting blood sugar, \" + rounded_FBS + \n\"; maximum heart rate, \" + rounded_MHR + \n\"; body temperature, \" + rounded_BT +\n\"; bloodpressure, \" + rounded_BP;\n\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":320,"wires":[["e432b44f.ddfe18","59266cff.98c5b4"]]},{"id":"e432b44f.ddfe18","type":"mqtt out","z":"7687d45a.038f1c","name":"","topic":"sensor_001","qos":"","retain":"","broker":"a9b999e7.2a3078","x":870,"y":320,"wires":[]},{"id":"231d46a7.5d4a4a","type":"debug","z":"7687d45a.038f1c","name":"Broker status msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":240,"wires":[]},{"id":"fb68f92.2287308","type":"debug","z":"7687d45a.038f1c","name":"receiving msgs","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1200,"y":320,"wires":[]},{"id":"c559bbd4.1f6fa8","type":"mqtt in","z":"7687d45a.038f1c","name":"Test","topic":"sensor_001","qos":"2","datatype":"auto","broker":"a9b999e7.2a3078","x":1040,"y":320,"wires":[["fb68f92.2287308"]]},{"id":"a8161fd3.bf784","type":"function-npm","z":"7687d45a.038f1c","name":"Emercency Values","func":"/* --- Resting Heart Rate = RHR --- */\nvar rounded_RHR = Math.round(Math.random() * 100 + 120);\n\n/* --- Cholestrol = C --- */\nvar rounded_C = Math.round(Math.random() * 40 + 200);\n\n/* --- Fasting Blood Sugar = FBS --- */\nvar rounded_FBS = Math.round(Math.random() * 60 + 140);\n\n/* --- Maximum Heart Rate = MHR --- */\nvar rounded_MHR = Math.round(Math.random() * 100 + 200);\n\n/* --- Body Temperature = BT --- */\nvar rand_BT = Math.random() * 3.5 + 38.5;\nvar rounded_BT = rand_BT.toFixed(2);\n\n/* --- Blood Pressure = BP --- */\nvar rand_BP = Math.random() * 70 + 140;\nvar rounded_BP = Math.round(rand_BP);\n\n/* Create String with values */\nvar data = \"resting heart rate, \" + rounded_RHR + \n\"; cholestrol, \" + rounded_C + \n\"; fasting blood sugar, \" + rounded_FBS + \n\"; maximum heart rate, \" + rounded_MHR + \n\"; body temperature, \" + rounded_BT +\n\"; bloodpressure, \" + rounded_BP;\n\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":400,"wires":[["e432b44f.ddfe18","59266cff.98c5b4"]]},{"id":"1bb389c7.d68146","type":"inject","z":"7687d45a.038f1c","name":"Virtual Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":330,"y":400,"wires":[["a8161fd3.bf784"]]}]