Node-red/final_flows.json
[{"id":"b40c4fed.27182","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"b0cb96ca.4f2b38","type":"ui_group","name":"Sensor","tab":"d9908171.4012b","order":1,"disp":true,"width":"6","collapse":false},{"id":"d9908171.4012b","type":"ui_tab","name":"IoT Lab","icon":"dashboard","disabled":false,"hidden":false},{"id":"6a91eace.c9b544","type":"blynk-websockets-client","name":"Blynk API Lab 2","path":"ws://cloud.blynk.cc:8080/websocket","key":"DTbSfaIxevTeVXJzhoCdz2Fbw3dTwyJA"},{"id":"adf3be3b.0ccd","type":"blynk-websockets-client","name":"Blynk API","path":"ws://cloud.blynk.cc:8080/websocket","key":"9Hdw3pCr_pwZQBdh2nw0X5PyzkjjAK9R"},{"id":"6168b103.78792","type":"mqtt-broker","name":"mqtt.eclipse","broker":"mqtt://mqtt.eclipse.org/","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a9b999e7.2a3078","type":"mqtt-broker","name":"MQTT Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"937f38c9.e84f38","type":"inject","z":"b40c4fed.27182","name":"Virtual Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"sensor_id_001","payload":"1","payloadType":"str","x":340,"y":320,"wires":[["4548a575.ca0e6c"]]},{"id":"7a765623.01e778","type":"aedes broker","z":"b40c4fed.27182","name":"","mqtt_port":1883,"mqtt_ws_port":"1833","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":470,"y":180,"wires":[["3af930c4.1154"]]},{"id":"5b0e7c26.8d3ec4","type":"debug","z":"b40c4fed.27182","name":"Published msgs","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":360,"wires":[]},{"id":"6258fecb.c85f5","type":"function","z":"b40c4fed.27182","name":"Backup_func","func":"var rand_BP = Math.floor(Math.random()* 200) + 1;\nvar data = \"bloodpressure, \" + rand_BP;\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":40,"wires":[[]]},{"id":"e4295b66.9c2bc8","type":"mqtt out","z":"b40c4fed.27182","name":"","topic":"sensor_001","qos":"","retain":"","broker":"a9b999e7.2a3078","x":790,"y":300,"wires":[]},{"id":"3af930c4.1154","type":"debug","z":"b40c4fed.27182","name":"Broker status msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":180,"wires":[]},{"id":"5d191731.3337e8","type":"debug","z":"b40c4fed.27182","name":"receiving msgs","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":960,"y":60,"wires":[]},{"id":"23199ee5.420e42","type":"mqtt in","z":"b40c4fed.27182","name":"Test","topic":"sensor_001","qos":"2","datatype":"auto","broker":"a9b999e7.2a3078","x":800,"y":60,"wires":[["5d191731.3337e8"]]},{"id":"4548a575.ca0e6c","type":"function-npm","z":"b40c4fed.27182","name":"","func":"/* --- Resting Heart Rate = RHR --- */\nvar randomNormal_RHR = require('random-normal');\nvar rand_RHR = randomNormal_RHR({mean:125, dev:15});\nvar rounded_RHR = Math.round(rand_RHR);\n\n/* --- Cholestrol = C --- */\nvar randomNormal_C = require('random-normal');\nvar rand_C = randomNormal_C({mean:300, dev:100});\nvar rounded_C = Math.round(rand_C);\n\n/* --- Fasting Blood Sugar = FBS --- */\nvar randomNormal_FBS = require('random-normal');\nvar rand_FBS = randomNormal_FBS({mean:105, dev:20});\nvar rounded_FBS = Math.round(rand_FBS);\n\n/* --- Maximum Heart Rate = MHR --- */\nvar randomNormal_MHR = require('random-normal');\nvar rand_MHR = randomNormal_MHR({mean:150, dev:40});\nvar rounded_MHR = Math.round(rand_MHR);\n\n/* --- Body Temperature = BT --- */\nvar randomNormal_BT = require('random-normal');\nvar rand_BT = randomNormal_BT({mean:37, dev:1});\nvar rounded_BT = rand_BT.toFixed(2);\n/* var rounded_BT = Math.round(rand_BT);*/\n\n/* --- Blood Pressure = BP --- */\nvar randomNormal_BP = require('random-normal');\nvar rand_BP = randomNormal_BP({mean:85, dev:20});\nvar rounded_BP = Math.round(rand_BP);\n\n\n/* Create String with values */\nvar data = \"resting heart rate, \" + rounded_RHR + \n\"; cholestrol, \" + rounded_C + \n\"; fasting blood sugar, \" + rounded_FBS + \n\"; maximum heart rate, \" + rounded_MHR + \n\"; body temperature, \" + rounded_BT +\n\"; bloodpressure, \" + rounded_BP;\n\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":320,"wires":[["e4295b66.9c2bc8","5b0e7c26.8d3ec4"]]}]