Node-red/flows (2).json
[{"id":"b40c4fed.27182","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"937f38c9.e84f38","type":"inject","z":"b40c4fed.27182","name":"Virtual Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"sensor_id_001","payload":"1","payloadType":"str","x":220,"y":240,"wires":[["6258fecb.c85f5"]]},{"id":"7a765623.01e778","type":"aedes broker","z":"b40c4fed.27182","name":"","mqtt_port":1883,"mqtt_ws_port":null,"cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":710,"y":140,"wires":[[]]},{"id":"5b0e7c26.8d3ec4","type":"debug","z":"b40c4fed.27182","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":240,"wires":[]},{"id":"6258fecb.c85f5","type":"function","z":"b40c4fed.27182","name":"","func":"var rand_BP = Math.floor(Math.random()* 200) + 1;\nvar data = \"bloodpressure, \" + rand_BP;\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":240,"wires":[[]]}]