Node-red/flows (4).json
[{"id":"b40c4fed.27182","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"937f38c9.e84f38","type":"inject","z":"b40c4fed.27182","name":"Virtual Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"sensor_id_001","payload":"1","payloadType":"str","x":340,"y":320,"wires":[["3966ac5e.1c1804"]]},{"id":"7a765623.01e778","type":"aedes broker","z":"b40c4fed.27182","name":"","mqtt_port":1883,"mqtt_ws_port":"1833","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":470,"y":180,"wires":[["3af930c4.1154"]]},{"id":"5b0e7c26.8d3ec4","type":"debug","z":"b40c4fed.27182","name":"Published msgs","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":360,"wires":[]},{"id":"6258fecb.c85f5","type":"function","z":"b40c4fed.27182","name":"Backup_func","func":"var rand_BP = Math.floor(Math.random()* 200) + 1;\nvar data = \"bloodpressure, \" + rand_BP;\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":40,"wires":[[]]},{"id":"3966ac5e.1c1804","type":"function-npm","z":"b40c4fed.27182","name":"","func":"var randomNormal = require('random-normal');\n\nvar rand_BP = randomNormal({mean:85, dev:20});\nvar rounded_BP = Math.round(rand_BP);\n\nvar data = \"bloodpressure, \" + rounded_BP;\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":320,"wires":[["e4295b66.9c2bc8","5b0e7c26.8d3ec4"]]},{"id":"e4295b66.9c2bc8","type":"mqtt out","z":"b40c4fed.27182","name":"","topic":"sensor_001","qos":"","retain":"","broker":"a9b999e7.2a3078","x":790,"y":300,"wires":[]},{"id":"3af930c4.1154","type":"debug","z":"b40c4fed.27182","name":"Broker status msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":180,"wires":[]},{"id":"5d191731.3337e8","type":"debug","z":"b40c4fed.27182","name":"receiving msgs","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":960,"y":60,"wires":[]},{"id":"23199ee5.420e42","type":"mqtt in","z":"b40c4fed.27182","name":"Test","topic":"sensor_001","qos":"2","datatype":"auto","broker":"a9b999e7.2a3078","x":800,"y":60,"wires":[["5d191731.3337e8"]]},{"id":"a9b999e7.2a3078","type":"mqtt-broker","z":"","name":"MQTT Broker","broker":"localhost:27017","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]