Node-red/flows (3).json
[{"id":"b40c4fed.27182","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"937f38c9.e84f38","type":"inject","z":"b40c4fed.27182","name":"Virtual Sensor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"sensor_id_001","payload":"1","payloadType":"str","x":340,"y":260,"wires":[["3966ac5e.1c1804"]]},{"id":"7a765623.01e778","type":"aedes broker","z":"b40c4fed.27182","name":"","mqtt_port":1883,"mqtt_ws_port":null,"cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":690,"y":40,"wires":[[]]},{"id":"5b0e7c26.8d3ec4","type":"debug","z":"b40c4fed.27182","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":260,"wires":[]},{"id":"6258fecb.c85f5","type":"function","z":"b40c4fed.27182","name":"Backup_func","func":"var rand_BP = Math.floor(Math.random()* 200) + 1;\nvar data = \"bloodpressure, \" + rand_BP;\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":40,"wires":[[]]},{"id":"3966ac5e.1c1804","type":"function-npm","z":"b40c4fed.27182","name":"","func":"var randomNormal = require('random-normal');\n\nvar rand_BP = randomNormal({mean:85, dev:20});\nvar rounded_BP = Math.round(rand_BP);\n\nvar data = \"bloodpressure, \" + rounded_BP;\nmsg.payload = data;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":260,"wires":[[]]}]